
#footer{
    text-align:right ;
}
.links{
    text-align:center ;

   
}

.card-title{
    text-align:center ;
}

#pre1{
   float:right;
   font-size: 20px; 
}
.footer {background-color:rgb(210, 230, 252);}

.card-title{
    color: rgb(104, 104, 104);
}
#p1{
    font-weight: bold;

}
#btn
{

   text-align:center;
}
#form1{
    padding: 10px;
    text-align: right; 
}
#form1{
    padding: 10px;
    text-align: right; 
}