#footer{
    text-align:right ;
}
.links{
    text-align:center ;

   
}

.card-title{
    text-align:center ;
}

#pre1{
   float:right;
   font-size: 20px; 
}
.footer {background-color:rgb(189, 189, 188);}

.card-img-top { 

    padding: 10px;
    width: 100%;
    height:auto ;

    
}
.card-title{
    color: rgb(104, 104, 104);
}

#p2{
    font-weight: bold;
   
    
}
#error{
    text-align: center;
}
#form1{
    padding: 10px;
    text-align: right; 
}
#space{
    padding-left: 20px;
}