
#footer{
    text-align:right ;
}
.links{
    text-align:center ;
}
.card-title,#job{
    text-align:center ;
}

#pre1{
   float:right;
   font-size: 20px; 
}
.footer {
  background-color:rgb(210, 230, 252);
}

.card-title{
    color: rgb(104, 104, 104);
}
#p1{
    font-weight: bold;
	color:rgb(150,0,70);
	}
#space{
	padding: 10px;
}

#pro{
font-weight: bold;
}

.{
  padding-left: 0px;
}
#field-icon,#field-icon2 {
  float: right;
  margin-right: 25px;
  margin-top: -30px;
  position: relative;
  }
  