
#footer{
    text-align:right ;
}

.card-title{
    text-align:center ;
}

#pre1{
   float:right;
   font-size: 20px; 
}
.footer {
  background-color:rgb(210, 230, 252);
}

.card-title{
    color: rgb(104, 104, 104);
}
#p1{
    font-weight: bold;
	color:rgb(150,0,70);
	}
#space{
	padding: 10px;
}
#form{
   background-color:rgb(230,255,255);
   border-radius:10px; 
  }
.error4,.error5{
  color:rgb(255,0,70);
}